.favorites-badge {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #E4EEF4; //stylelint-disable-line

  &__counter {
    position: absolute;
    top: -13px;
    right: -17px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    font-size: 18px;
    line-height: 33px;
    color: #FFFFFF; //stylelint-disable-line
    text-align: center;
    background-color: #FF6243; //stylelint-disable-line
    box-shadow: 0 4px 4px rgba(29, 29, 29, 0.25);
  }
}
