@import 'mixins';

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

.btn-reset {
  @include reset-button();
}

.list-reset {
  @include reset-list();
}
